@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
    <a class="nav-link ajaxLink @ManageNavPages.IndexNavClass(ViewContext)" asp-page="./Index">Profile</a>
    <a id="change-password" class="nav-link ajaxLink @ManageNavPages.ChangePasswordNavClass(ViewContext)" asp-page="./ChangePassword">Password</a>
    @if (hasExternalLogins)
    {
        <a id="external-login" class="nav-link ajaxLink @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a>
    }
    <a class="nav-link ajaxLink @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" asp-page="./TwoFactorAuthentication">Two-factor authentication</a>
    <a class="nav-link ajaxLink @ManageNavPages.PersonalDataNavClass(ViewContext)" asp-page="./PersonalData">Personal data</a>
</div>
